.grid
  .grid__item.lapdesk-one-quarter
    %p.widget.push-up Deafult: Pull Up
  .grid__item.lapdesk-one-quarter
    %p.widget.push-right Deafult: Pull Right
  .grid__item.lapdesk-one-quarter
    %p.widget.push-down Deafult: Pull Down
  .grid__item.lapdesk-one-quarter
    %p.widget.push-left Deafult: Pull Left
.grid
  .grid__item.lapdesk-one-quarter
    %p.widget.desk-push-up desk: Pull Up
  .grid__item.lapdesk-one-quarter
    %p.widget.desk-push-right desk: Pull Right
  .grid__item.lapdesk-one-quarter
    %p.widget.desk-push-down desk: Pull Down
  .grid__item.lapdesk-one-quarter
    %p.widget.desk-push-left desk: Pull Left
.grid
  .grid__item.lapdesk-one-quarter
    %p.widget.lapdesk-push-up lapdesk: Pull Up
  .grid__item.lapdesk-one-quarter
    %p.widget.lapdesk-push-right lapdesk: Pull Right
  .grid__item.lapdesk-one-quarter
    %p.widget.lapdesk-push-down lapdesk: Pull Down
  .grid__item.lapdesk-one-quarter
    %p.widget.lapdesk-push-left lapdesk: Pull Left
.grid
  .grid__item.lapdesk-one-quarter
    %p.widget.lap-push-up lap: Pull Up
  .grid__item.lapdesk-one-quarter
    %p.widget.lap-push-right lap: Pull Right
  .grid__item.lapdesk-one-quarter
    %p.widget.lap-push-down lap: Pull Down
  .grid__item.lapdesk-one-quarter
    %p.widget.lap-push-left lap: Pull Left
.grid
  .grid__item.lapdesk-one-quarter
    %p.widget.portable-push-up portable: Pull Up
  .grid__item.lapdesk-one-quarter
    %p.widget.portable-push-right portable: Pull Right
  .grid__item.lapdesk-one-quarter
    %p.widget.portable-push-down portable: Pull Down
  .grid__item.lapdesk-one-quarter
    %p.widget.portable-push-left portable: Pull Left
.grid
  .grid__item.lapdesk-one-quarter
    %p.widget.palm-push-up palm: Pull Up
  .grid__item.lapdesk-one-quarter
    %p.widget.palm-push-right palm: Pull Right
  .grid__item.lapdesk-one-quarter
    %p.widget.palm-push-down palm: Pull Down
  .grid__item.lapdesk-one-quarter
    %p.widget.palm-push-left palm: Pull Left