.grid
  .grid__item
    .heading
      %h1.title Button Groups

.grid
  .grid__item
    .button-group
      %button.button Button
      %a.button--inverse{:href => "#"} Link as button
      %button.button.is-disabled Button
      %a.button--inverse.is-disabled{:href => "#"} Link as button

    .button-group
      %button.button Button
      %a.button--inverse{:href => "#"} Link as button
      %button.button.is-disabled Button
      %a.button--inverse.is-disabled{:href => "#"} Link as button
