%ul.nav--full
  %li.nav__item.is-active
    %a{:href=>"/grids"} Grids
  %li.nav__item
    %a{:href=>"/display"} Display
  %li.nav__item
    %a{:href=>"/form"} Forms
  %li.nav__item
    %a{:href=>"/buttons"} Buttons
  %li.nav__item
    %a{:href=>"/cards"} Cards
  %li.nav__item
    %a{:href=>"/article"} Article
  %li.nav__item
    %a{:href=>"/push"} Push