%ul.pagination
  %li.pagination__item.is-disabled
    %a{:href=>"/grids"} &laquo;
  %li.pagination__item.is-active
    %a{:href=>"/display"} 1
  %li.pagination__item
    %a{:href=>"/form"} 2
  %li.pagination__item
    %a{:href=>"/cards"} 3
  %li.pagination__item
    %a{:href=>"/cards"} &raquo;