@mixin pull_right($margin-left: $gutter / 2) {
  float: right;
  @if $margin-left != 0 {
    margin-left: $margin-left;
  }
  margin-right: 0;
}

@mixin pull_left($margin-right: $gutter / 2) {
  float: left;
  @if $margin-right != 0 {
    margin-right: $margin-right;
  }
  margin-left: 0;
}

@mixin clearfix() {
  @if $ie_version == 7 {
    zoom: 1;
  } @else {
    &:before,
    &:after {
      content: "";
      @include display(table);
    }

    &:after {
      clear: both;
    }
  }
}
