@mixin push {
  position: relative;
}

@mixin push_up($namespace:""){
  .#{$namespace}push-up {
    @include push;
    bottom: $gutter;
  }
}

@mixin push_right($namespace:""){
  .#{$namespace}push-right {
    @include push;
    left: $gutter;
  }
}

@mixin push_down($namespace:""){
  .#{$namespace}push-down {
    @include push;
    top: $gutter;
  }
}

@mixin push_left($namespace:""){
  .#{$namespace}push-left {
    @include push;
    right: $gutter;
  }
}

@include push_up();
@include push_right();
@include push_down();
@include push_left();

@include not_ie() {
  @media #{$palmMq} {
    @include push_up('palm-');
    @include push_right('palm-');
    @include push_down('palm-');
    @include push_left('palm-');
  }

  @media #{$portableMq} {
    @include push_up('portable-');
    @include push_right('portable-');
    @include push_down('portable-');
    @include push_left('portable-');
  }

  @media #{$lapMq} {
    @include push_up('lap-');
    @include push_right('lap-');
    @include push_down('lap-');
    @include push_left('lap-');
  }
}

@include respond-to($lapdeskMq) {
  @include push_up('lapdesk-');
  @include push_right('lapdesk-');
  @include push_down('lapdesk-');
  @include push_left('lapdesk-');
}

@include respond-to($lapdeskMq) {
  @include push_up('desk-');
  @include push_right('desk-');
  @include push_down('desk-');
  @include push_left('desk-');
}
