$is_ie: false!default;
$ie_version: false!default;

$baseFontSize: 16px;
$baseFontFamily: sans-serif;

$baseColor: #2c3e50;
$primaryColor: #8e44ad; // color: purple
$secondaryColor: #16a085; // color: teal

$successColor: #2ecc71;
$infoColor: #2980b9;
$warningColor: #f1c40f;
$dangerColor: #c0392b;

// GRID SETTINGS
$baseMargin: $baseFontSize;
$gutter: $baseMargin * 2;

$deskStart: 1224px;
$lapStart: 768px;

$palmMiddle: $lapStart / 2;
$palmEnd: $lapStart - 1px;
$lapMiddle: (($deskStart - $lapStart) / 2 ) + $lapStart;
$lapEnd: $deskStart - 1px;

$palmMq: "only screen and (max-width: #{$palmEnd})";
$lapMq: "only screen and (min-width: #{$lapStart}) and (max-width: #{$lapEnd})";
$deskMq: "only screen and (min-width: #{$deskStart})";

$portableMq: "only screen and (max-width: #{$lapEnd})";
$lapdeskMq: "only screen and (min-width: #{$lapStart})";

$palmTopEndMq: "only screen and (min-width: #{$palmMiddle}) and (max-width: #{$palmEnd})";
$lapTopEndMq: "only screen and (min-width: #{$lapMiddle}) and (max-width: #{$lapEnd})";

$highdensityMq: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
