.notification {
  @include remove_default_list_styling();
  @include notification();

  margin-top: $baseMargin;
  padding: $baseMargin;
  border-left-width: 10px;
  border-left-style: solid;

  p, ul, ol, dl {
    margin-bottom: 0;
    margin-top: ($baseMargin/2);
  }
  p:first-child,
  ul:first-child,
  ol:first-child,
  dl:first-child {
    margin-top: 0;
  }
}

.notification--success {
  @include notification($successColor, lighten($successColor, 10%));
}

.notification--info {
  @include notification($infoColor, lighten($infoColor, 10%));
}

.notification--warning {
  @include notification($warningColor, lighten($warningColor, 10%));
}

.notification--danger {
  @include notification($dangerColor, lighten($dangerColor, 10%));
}
