%ul.breadcrumb
  %li.breadcrumb__item
    %a{:href=>"/grids"} Grids
  %li.breadcrumb__item
    %a{:href=>"/display"} Display
  %li.breadcrumb__item
    %a{:href=>"/form"} Forms
  %li.breadcrumb__item
    %a{:href=>"/cards"} Cards
  %li.breadcrumb__item.is-active Article