%form{:action => "#", :method => "GET"}
  .form__description
    %p Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor.
  .form-row--custom
    .grid.grid--narrow
      .grid__item.desk-one-fifth
        %label.form-row__text{:for => "input-1"}
          Form label
      .grid__item.desk-three-fifths
        .form-row__value
          %input.form-row__input{:index => "index-1", :name => "input-1", :type => "text", :value => "Input"}/
        .form-row__description
          Description of form row
      .grid__item.desk-one-fifth
        .form-row__actions
          %input.button--danger.pull-right{:type => "submit", :value => "Delete"}/
          %input.button--inverse.pull-right{:type => "submit", :value => "Edit"}/
  .form-row--custom
    .grid.grid--narrow
      .grid__item.desk-one-fifth
        %label.form-row__text{:for => "input-1"}
          Form label
      .grid__item.desk-three-fifths
        .form-row__value
          %textarea.form-row__input{:index => "index-1", :name => "input-1"}
        .form-row__description
          Description of form row
      .grid__item.desk-one-fifth
        .form-row__actions
          .button-group.pull-right
            %input.button--inverse{:type => "submit", :value => "Edit"}/
            %input.button--danger{:type => "submit", :value => "Delete"}/
  
  .form-row
    .grid
      .grid__item.desk-two-fifths
        .form-row--full
          %label.form-row__text.hidden{:for => "input-1"}
            Form label
          .form-row__value
            %input.form-row__input{:index => "index-1", :name => "input-1", :type => "email", :placeholder => "Email Address"}/
      .grid__item.desk-two-fifths
        .form-row--full
          %label.form-row__text.hidden{:for => "input-1"}
            Form label
          .form-row__value
            %input.form-row__input{:index => "index-1", :name => "input-1", :type => "password", :placeholder => "Password"}/
      .grid__item.desk-one-fifth
        .form-actions
          %input.button--inverse{:type => "submit", :value => "Submit"}/