.grid
  .grid__item.one-third
    %p.widget.hidden Hidden
  .grid__item.one-third
    %p.widget.hidden.not-hidden--block Not hidden: Block
  .grid__item.one-third
    %p.widget.hidden.not-hidden--inline-block Not hidden: Inline Block
.grid
  .grid__item.one-third
    %p.widget.desk-hidden Desk Hidden
  .grid__item.one-third
    %p.widget.hidden.desk-not-hidden--block Desk Not hidden: Block
  .grid__item.one-third
    %p.widget.hidden.desk-not-hidden--inline-block Desk Not hidden: Inline Block
.grid
  .grid__item.one-third
    %p.widget.lapdesk-hidden Lapdesk Hidden
  .grid__item.one-third
    %p.widget.hidden.lapdesk-not-hidden--block Lapdesk Not hidden: Block
  .grid__item.one-third
    %p.widget.hidden.lapdesk-not-hidden--inline-block Lapdesk Not hidden: Inline Block
.grid
  .grid__item.one-third
    %p.widget.lap-hidden Lap Hidden
  .grid__item.one-third
    %p.widget.hidden.lap-not-hidden--block Lap Not hidden: Block
  .grid__item.one-third
    %p.widget.hidden.lap-not-hidden--inline-block Lap Not hidden: Inline Block
.grid
  .grid__item.one-third
    %p.widget.portable-hidden Portable Hidden
  .grid__item.one-third
    %p.widget.hidden.portable-not-hidden--block Portable Not hidden: Block
  .grid__item.one-third
    %p.widget.hidden.portable-not-hidden--inline-block Portable Not hidden: Inline Block
.grid
  .grid__item.one-third
    %p.widget.palm-hidden Palm Hidden
  .grid__item.one-third
    %p.widget.hidden.palm-not-hidden--block Palm Not hidden: Block
  .grid__item.one-third
    %p.widget.hidden.palm-not-hidden--inline-block Palm Not hidden: Inline Block