.grid
  .grid__item
    %p.widget Default
.grid
  .grid__item.lapdesk-one-whole
    %p.widget One whole
.grid
  .grid__item.lapdesk-one-half
    %p.widget One half
  .grid__item.lapdesk-one-half
    %p.widget One half
.grid
  .grid__item.lapdesk-one-third
    %p.widget One third
  .grid__item.lapdesk-two-thirds
    %p.widget Two thirds
.grid
  .grid__item.lapdesk-one-quarter
    %p.widget One quarter
  .grid__item.lapdesk-three-quarters
    %p.widget Three quarters
.grid
  .grid__item.lapdesk-two-quarters
    %p.widget Two quarters
  .grid__item.lapdesk-two-quarters
    %p.widget Two quarters
.grid
  .grid__item.lapdesk-one-fifth
    %p.widget One fifth
  .grid__item.lapdesk-four-fifths
    %p.widget Four fifths
.grid
  .grid__item.lapdesk-two-fifths
    %p.widget Two fifths
  .grid__item.lapdesk-three-fifths
    %p.widget Three fifths
.grid
  .grid__item.lapdesk-one-sixth
    %p.widget One sixth
  .grid__item.lapdesk-five-sixths
    %p.widget Five sixths
.grid
  .grid__item.lapdesk-two-sixths
    %p.widget Two sixths
  .grid__item.lapdesk-four-sixths
    %p.widget Four sixths
.grid
  .grid__item.lapdesk-three-sixths
    %p.widget Three sixths
  .grid__item.lapdesk-three-sixths
    %p.widget Three sixths
.grid
  .grid__item.lapdesk-one-eighth
    %p.widget One eighth
  .grid__item.lapdesk-seven-eighths
    %p.widget Seven eighths
.grid
  .grid__item.lapdesk-two-eighths
    %p.widget Two eighths
  .grid__item.lapdesk-six-eighths
    %p.widget Six eighths
.grid
  .grid__item.lapdesk-three-eighths
    %p.widget Three eighths
  .grid__item.lapdesk-five-eighths
    %p.widget Five eighths
.grid
  .grid__item.lapdesk-four-eighths
    %p.widget Four eighths
  .grid__item.lapdesk-four-eighths
    %p.widget Four eighths
%ul.grid
  %li.grid__item.lapdesk-one-quarter
    %p.widget One quarter in list
  %li.grid__item.lapdesk-one-quarter
    %p.widget One quarter in list
  %li.grid__item.lapdesk-one-quarter
    %p.widget One quarter in list
  %li.grid__item.lapdesk-one-quarter
    %p.widget One quarter in list
.grid.grid--full
  .grid__item.desk-one-third
    %p.widget One third full
  .grid__item.desk-two-thirds
    %p.widget Two thirds full
.grid.grid--narrow
  .grid__item.desk-one-third
    %p.widget One third narrow
  .grid__item.desk-two-thirds
    %p.widget Two thirds narrow
.grid.grid--wide
  .grid__item.desk-one-third
    %p.widget One third wide
  .grid__item.desk-two-thirds
    %p.widget Two thirds wide
.grid.grid--rev
  .grid__item.desk-one-third
    %p.widget One third Rev
  .grid__item.desk-two-thirds
    %p.widget Two thirds Rev
.grid.grid--rev
  .grid__item.desk-one-third
    .widget
      .grid
        .grid__item.desk-one-third
          %p.widget One third default
        .grid__item.desk-two-thirds
          %p.widget Two thirds default
  .grid__item.desk-two-thirds
    %p.widget Two thirds Rev